FASTAPI_DEBUG = True

UVICORN_HOST = "0.0.0.0"
UVICORN_PORT = 7001
UVICORN_WORKERS = 1
UVICORN_RELOAD = True

POSTGRES_DATABASE = "db_name"
POSTGRES_DATABASE_TEST = "db_name_test"
POSTGRES_USER = "postgres_user"
POSTGRES_PASSWORD = "postgres_pass"
POSTGRES_HOST = "localhost"
POSTGRES_PORT = 5432

JWT_PRIVATE_KEY =

JWT_PUBLIC_KEY =
